/*
TOP LEVEL
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: hidden;

    --titlebar-theme-colour: #533e5f;
    --titlebar-theme-gradient: linear-gradient(to right, #533e5f, #44334e);

    --players-theme-colour: #148629;
    --players-theme-gradient: linear-gradient(to right, #148629, #006c22);
    --players-theme-border-colour: #069420;

    --sessions-theme-colour: #4b83ab;
    --sessions-theme-gradient: linear-gradient(to right, #4b83ab, #3a6989);
    --sessions-theme-border-colour: #3d85b7;
}

.application {
    height: 100vh;
    background-color: #e5d4b9;
    display: flex;
    flex-direction: row;
}

.router_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

/*
TITLE AND NAVBAR
*/

.titlebar {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    font-size: 25px;
    background: var(--titlebar-theme-gradient);
    box-shadow: 0 4px 2px -2px #888;
    color: #eee;
    height: 40px;
    z-index: 2;
}

.navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2e3135;
    box-shadow: 4px 0px 2px -2px #888;
    z-index: 1;
    padding-top: 4px;
}

/*
NAVIGATION BUTTONS
*/

.navbar__button {
    width: 60px;
    height: 60px;
    margin: 4px;
    font-size: 1.6rem;
    color: white;
    outline: none;
}

.navbar__button:hover {
    opacity: 0.9;
    font-size: 1.9rem;
    cursor: pointer;
}

.navbar__button:active {
    opacity: 0.7;
    font-size: 2rem;
    cursor: pointer;
}

.button--players {
    position: relative;
    background: var(--players-theme-gradient);
    border: solid 1px var(--players-theme-border-colour);
}

/*
TOOLTIP PLAYERS BUTTON
*/

.button--players::before {
    display: none;
    content: "";
    position: absolute;
    border: solid 5px transparent;
    border-right-color: var(--players-theme-colour);
    right: -10px;
    top: calc(50% - 5px);
}

.button--players::after {
    content: "Players";
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: -130px;
    top: calc(50% - 20px);
    background-image: var(--players-theme-gradient);
    height: 40px;
    width: 120px;
    border-radius: 5%;
    font-size: 0.8em;
}

.button--players:hover::after, .button--players:hover::before {
    display: flex;
}

.button--sessions {
    position: relative;
    background: var(--sessions-theme-gradient);
    border: solid 1px var(--sessions-theme-border-colour);
}

/*
TOOLTIP SESSIONS BUTTON
*/

.button--sessions::before {
    display: none;
    content: "";
    position: absolute;
    border: solid 5px transparent;
    border-right-color: var(--sessions-theme-colour);
    right: -10px;
    top: calc(50% - 5px);
}

.button--sessions::after {
    content: "Sessions";
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    right: -130px;
    top: calc(50% - 20px);
    background-image: var(--sessions-theme-gradient);
    height: 40px;
    width: 120px;
    border-radius: 5%;
    font-size: 0.8em;
}

.button--sessions:hover::after, .button--sessions:hover::before {
    display: flex;
}

/*
CARD
*/

.card--players {
    border: 1px solid #eee;
    padding: 8px;
    background: white;
    width: fit-content;
    box-shadow: 0 4px 4px -2px #888;
}

.card--sessions {
    border: 1px solid #eee;
    padding: 8px;
    background: white;
    width: fit-content;
    box-shadow: 0 4px 4px -2px #888;
}

.card__header {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: -10px;
    margin-bottom: 4px;
    color: white;
    border-bottom: 0;
    box-shadow: 0 4px 2px -2px #888;
}

.card__header__actionbutton_container {
    margin-left: auto;
    margin-top: 2px;
    margin-right: -8px;
}

.card__header__button {
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    padding: 4px 8px;
    margin: -4px 8px -4px 0;
    outline: none;
}

.card__header__button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card__header__button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.card__header__text {
    font-size: 1.3em;
}

.card__footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    margin: -10px;
    margin-top: 4px;
    border-bottom: 0;
    box-shadow: 0 -4px 2px -2px #888;
}

.card__footer__navbutton_container__button {
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    padding: 4px 8px;
    margin: -4px -2px;
    outline: none;
}

.card__footer__navbutton_container__button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card__footer__navbutton_container__button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.card__footer__navbutton_container__text {
    display: inline-block;
    text-align: center;
    width: 70px;
    color: white;
    font-size: 1em;
    margin: 0 -4px;
}

.header--players {
    border: solid 1px var(--players-theme-border-colour);
    background: var(--players-theme-gradient);
}

.footer--players {
    border: solid 1px var(--players-theme-border-colour);
    background: var(--players-theme-gradient);
}

.header--sessions {
    border: solid 1px var(--sessions-theme-border-colour);
    background: var(--sessions-theme-gradient);
}

.footer--sessions {
    border: solid 1px var(--sessions-theme-border-colour);
    background: var(--sessions-theme-gradient);
}

/*
SCROLLBAR
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.2);
}

/*
TABLE
*/

.table__body {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.table__head .table__row {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 4px 2px -2px #888;
}

.table__footer .table__row {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 -4px 2px -2px #888;
}

.table__footer .table__row__cell {
    color: #494c53;
}

.table__row {
    display: grid;
    grid-auto-columns: minmax(60px, 0.9fr);
    grid-auto-flow: column;
    padding: 4px;
}

.table__body .table__row:hover {
    background-color: #eee;
}

.table__row__head_cell {
    display: flex;
    min-width: 70px;
}

.table__row__cell {
    display: flex;
    min-width: 70px;
}

.table__row__cell__link {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: black;
}

.card--players .table__row__cell__link:hover {
    text-decoration: underline;
    color: var(--players-theme-colour);
}

.card--sessions .table__row__cell__link:hover {
    text-decoration: underline;
    color: var(--sessions-theme-colour);
}

.table__row__cell__link::before, .table__row__cell__link::after {
    opacity: 0;
    content: "";
    position: absolute;
    transition: opacity 0.3s ease;
}

.card--players .table__row__cell__link::before {
    right: 40px;
    top: calc(50% - 5px);
    border: 5px solid var(--players-theme-colour);
}

.card--sessions .table__row__cell__link::before {
    right: 40px;
    top: calc(50% - 5px);
    border: 5px solid var(--sessions-theme-colour);
}

.card--players .table__row__cell__link::after {
    right: 24px;
    top: calc(50% - 8px);
    border: 8px solid transparent;
    border-left-color: var(--players-theme-colour);
}

.card--sessions .table__row__cell__link::after {
    right: 24px;
    top: calc(50% - 8px);
    border: 8px solid transparent;
    border-left-color: var(--sessions-theme-colour);
}

.table__row__cell__link:hover::before, .table__row__cell__link:hover::after {
    opacity: 1;
}

.table_filter_container {
    width: 100%;
    padding-right: 8px;
    display: inline-block;
}

.table_filter_container__input {
    width: 100%;
}

/*
INPUT
*/

.input_container {
    display: inline-block;
    position: relative;
    margin: 16px;
}

.input_container__label {
    position: absolute;
    left: 4px;
    top: -8px;
    background-color: white;
    padding: 0px 8px;
    font-size: 0.9em;
    transition: color 0.5s ease;
}

.input_container__input {
    padding: 10px 12px;
    outline: none;
    transition: box-shadow 0.5s ease;
    border: 1px inset #EBE9ED;
    box-shadow: 5px 0px 0px -2px inset #EBE9ED;
}

.input_container__input:read-only {
    padding: 10px 12px;
    outline: none;
    border: 1px inset #EBE9ED;
    box-shadow: none;
}

.input_container__input:read-only:focus {
    border: 1px inset #EBE9ED;
    box-shadow: none;
}

.input_container__input:focus {
    border: 1px inset #EBE9ED;
    box-shadow: 5px 0px 0px -2px inset var(--titlebar-theme-colour)
}

.input_container__label--focus {
    position: absolute;
    left: 4px;
    top: -8px;
    background-color: white;
    padding: 0px 8px;
    font-size: 0.9em;
    transition: color 1.3s ease;
    color: var(--titlebar-theme-colour);
}

.input_container__error_message {
    padding: 8px;
    margin-bottom: -16px;
    color: #bb0000;
    font-size: 0.7rem;
    font-style: italic;
}

/*
CHECKBOX
*/

.checkbox_container {
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.checkbox_container__label {
    position: relative;
    border: 1px inset #EBE9ED;
    box-shadow: 5px 0px 0px -2px inset #EBE9ED;
    transition: box-shadow 0.5s ease;
}

.checkbox_container__label--checked::after {
    position: absolute;
    left: 4px;
    bottom: 4px;
    content: '';
    border: solid 3.5px transparent;
    border-left-color: #eee;
    border-bottom-color: #eee;
}

.checkbox_container__label--checked::before {
    position: absolute;
    left: 6px;
    bottom: -4px;
    transform: rotate(45deg);
    content: '|';
    color: #ccc;
    font-size: 1.4rem;
    font-weight: bold;
    overflow: hidden;
}

.checkbox_container__label--checked {
    position: relative;
    border: 1px inset #EBE9ED;
    box-shadow: 26px 0px 0px -2px inset var(--titlebar-theme-colour);
    transition: box-shadow 0.5s ease;
}

.checkbox_container__checkbox {
    visibility: hidden;
}

/*
SELECT
*/

.input_container__select_options_popover {
    position: absolute;
    left: 4px;
    animation: fadein 0.3s;
    z-index: 10;
}

.select_option {
    width: 160px;
    padding: 8px;
    z-index: 11;
}

.select_option:hover {
    background-color: #eee;
}

/*
AVATAR
*/

.card__grid_container__avatar_container__avatar {
    display: flex;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: var(--titlebar-theme-gradient);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0 4px 4px -1px #888;
}

/* 
DIALOG
*/

.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border: 1px solid #eee;
    padding: 8px;
    background: white;
    width: fit-content;
    box-shadow: 0 4px 4px -2px #888;
    z-index: 10;

    animation: fadein 0.3s;
}

.dialog_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;

    animation: fadein 0.3s;
}

.dialog__title_container {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #eee;
    box-sizing: border-box;
    padding-bottom: 4px;
}

.dialog__title_container__title {
    font-size: 1.3em;
}

.dialog__title_container__closebutton {
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: #ccc;
    font-size: 1em;
    padding: 4px 8px;
    margin-left: auto;
    margin-top: -2px;
    outline: none;
}

.dialog__title_container__closebutton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dialog__title_container__closebutton:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog__content_container {
    padding: 8px;
}

.dialog__action_container {
    margin-left: auto;
}

.dialog__action_container__button {
    border: solid 1px #684e77;
    box-shadow: 0 4px 4px -2px #888;
    outline: none;
    background: var(--titlebar-theme-gradient);
    color: white;
    height: 30px;
}

.dialog__action_container__button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.dialog__action_container__button:active {
    transform: scale(0.95);
}

/* 
LAYOUT
*/

.card__grid_container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas: 'avatar main';
}

.card__grid_container__field_container {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.card__grid_container__avatar_container {
    grid-area: avatar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog__content_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*
ANIMATIONS
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}